

NET "clk50" LOC = C9;
NET "rst" LOC = N17;
NET "r" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "g" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "b" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "hSync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vSync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "UpButton" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "DownButton" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "FireButton" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;

NET "rotary_a_in" LOC = "K18" | IOSTANDARD = LVTTL | PULLUP ;
NET "rotary_b_in" LOC = "G18" | IOSTANDARD = LVTTL | PULLUP ;
